<div class="container">
  <div class="row justify-content-center my-3">
    <div class="col-md-8 custom-forms">
      
      <h1>Create new event</h1>

      <hr>
      
      <form action="/events/create" method="POST">
        <div class="form-row">
          <div class="col-md-6 mb-3">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Event name" required>
          </div>
          <div class="col-md-6 mb-3">
            <label for="genre">Genre</label>
            <input type="text" class="form-control" id="genre" name="genre" placeholder="Jazz">
          </div>
        </div>

        <div class="form-row">
          <div class="col-md-6 mb-3">
            <label for="date">Date</label>
            <input type="date" class="form-control" id="date" name="date" required>
          </div>
          <div class="col-md-6 mb-3">
            <label for="time">Time</label>
            <input type="time" class="form-control" id="time" name="time" placeholder="20:00">
          </div>
        </div>
        
        <div class="form-row">
          <div class="col-md-6 mb-3">
            <label for="city">City</label>
            <input type="text" class="form-control" id="city" name="city" placeholder="Madrid">
          </div>
          <div class="col-md-6 mb-3">
            <label for="venue">Venue</label>
            <input type="text" class="form-control" id="venue" name="venue" placeholder="Wizink Center">
          </div>
        </div>

        <div class="form-row">
          <div class="col-md-6 mb-3">
            <label for="price">Price</label>
            <input type="number" min="0" required class="form-control" id="price" name="price" placeholder="20">
          </div>
          <div class="col-md-6 mb-3">
            <label for="currency">Currency</label>
            <input type="text" class="form-control" id="currency" name="currency" placeholder="EUR">
          </div>
        </div>

        <div class="form-group">
          <label for="url">Tickets Url</label>
          <input type="text" class="form-control" id="url" name="url" placeholder="Tickets sales link">
        </div>

        <div class="form-row">
          <div class="col-md-6 mb-3">
            <label for="latitude">Latitude</label>
            <input type="text" class="form-control" id="latitude" name="latitude" placeholder="40.392499">
          </div>
          <div class="col-md-6 mb-3">
            <label for="longitude">Longitude</label>
            <input type="text" class="form-control" id="longitude" name="longitude" placeholder="-3.698214">
          </div>
        </div>

        <div class="form-group">
          <label for="info">Description</label>
          <textarea name="info" id="info" cols="95" rows="4"></textarea>
        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-dark d-block">Create Event</button>
        </div>

        {{#if errorMsg}}
          {{errorMsg}}
        {{/if}}
      </form>
    </div>
  </div>
</div>