<div class="container">

  <div class="jumbotron">
    <h1 class="display-4">{{title}}</h1>
    <p class="lead">Welcome to the music events browser</p>
    <hr class="my-4">
    <a class="btn btn-outline-light btn-lg d-block" href="https://github.com/Joseacasado/ironhack-proyecto2" role="button" target="_blank">Learn more from this proyect</a>
  </div>

</div>