<div class="container">

  <div class="jumbotron">
    <h1 class="display-4">{{title}}</h1>
    <p class="lead">Welcome to the CRUD-Norris</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <a class="btn btn-outline-light btn-lg d-block" href="#" role="button">Learn more</a>
  </div>

</div>