body {
  font-family: sans-serif;
  font-size: 14px;
  color: whitesmoke;
  background: #000000;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-image: url('https://images.unsplash.com/photo-1470229722913-7c0e2dbbafd3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80');
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

img {
  width: 100%;
}

.navbar {
  padding: 1rem 2rem;
}

.card {
  height: 450px;
  color: #000000;
  background-color: rgba(255, 255, 200, .5);
  img {
    height: 200px;
    object-fit: cover;
  }
}

#eventMap {
  height: 400px;
  margin: 1rem;
  background-color: pink;
}

.jumbotron {
  margin-top: 40px;
  background: #000000;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.successMsg {
  text-align: center;
  border: 3px solid rgb(54, 200, 47);
  border-radius: 5px;
  span {
    padding: .5rem;
    background-color: rgba(54, 200, 47, 0.5);
    h5 {
      color: rgb(54, 200, 47);
    }
  }
}

.modal {
  text-align: center;
  border: 3px solid rgb(200, 47, 47);
  border-radius: 5px;
  .modal-content {
    padding: .5rem;
    background-color: rgba(200, 47, 47, 0.5);
  }
}

.hide {
  display: none;
}