body {
  font-family: sans-serif;
  font-size: 14px;
  color: whitesmoke;
  background: #000000;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #434343, #000000);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #434343, #000000);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-image: url("https://images.unsplash.com/photo-1470229722913-7c0e2dbbafd3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  min-height: 100vh;
  flex-direction: column; }

main {
  margin: 4rem 0; }

img {
  width: 100%; }

ul {
  list-style: none;
  padding: 0; }

.navbar {
  padding: .4rem 2rem;
  background: #2b2f2f; }

.tm-hero {
  margin: 2rem 0; }

.card {
  height: 450px;
  color: #000000;
  background-color: rgba(255, 255, 200, 0.5);
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .card img {
    height: 200px;
    object-fit: cover; }

#user-cards {
  height: 150px;
  font-size: 10px;
  line-height: 1;
  background-color: rgba(255, 255, 200, 0.33); }
  #user-cards img {
    height: 50px; }
  #user-cards .card-body {
    text-align: center;
    margin: 3px;
    padding: 0; }
    #user-cards .card-body p {
      margin: 3px; }
    #user-cards .card-body a {
      margin-top: 10px;
      color: black; }

#eventDetailsContainer {
  color: #000000; }

#eventMap {
  width: 70%;
  height: 300px;
  margin: 1rem;
  background-color: pink; }

.jumbotron {
  margin-top: 40px;
  background: #000000;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #434343, #000000);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #434343, #000000);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-image: url("https://images.unsplash.com/photo-1471877325906-aee7c2240b5f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: .8;
  animation: fade 4s 500ms; }

.successMsg {
  text-align: center;
  border: 3px solid #36c82f;
  border-radius: 5px; }
  .successMsg span {
    padding: .5rem;
    background-color: rgba(54, 200, 47, 0.5); }
    .successMsg span h5 {
      color: #36c82f; }

.errorMsg {
  font-size: 1rem;
  font-weight: 400;
  color: white;
  text-align: center;
  margin-top: 10px;
  padding: .5rem 1rem;
  background: red;
  border: 2px solid #c80000;
  border-radius: 3px; }

.modal {
  text-align: center;
  border: 3px solid #c82f2f;
  border-radius: 5px; }
  .modal .modal-content {
    padding: .5rem;
    background-color: rgba(200, 47, 47, 0.7); }
    .modal .modal-content h5 {
      text-transform: uppercase;
      font-weight: 700; }

.hide {
  display: none; }

.custom-forms {
  padding: 2rem;
  background-color: rgba(255, 255, 200, 0.1);
  border-radius: 5px; }

.user-profile .user-info {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .user-profile .user-info img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: aliceblue;
    object-fit: cover; }

#profile-img-id {
  width: 150px;
  background-color: aliceblue; }

.fav-list {
  text-align: center; }

footer {
  width: 100%;
  margin-top: 2rem;
  background: #2b2f2f;
  opacity: .7; }
  footer ul {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white; }
  footer img {
    width: 20px; }
  footer a {
    color: white; }
    footer a:hover {
      color: white; }

.buy-btn {
  border-radius: 3px;
  border: none;
  padding: 1em 2em;
  margin: 0 auto;
  color: white;
  font-weight: 700;
  box-shadow: 0 0 4px rgba(255, 255, 200, 0.5);
  background-color: #3d3336; }
  .buy-btn:hover {
    text-decoration: none;
    color: white; }

.edit-btn {
  border-radius: 3px;
  border: none;
  padding: 1em 2em;
  margin: 0 auto;
  color: white;
  font-weight: 700;
  box-shadow: 0 0 4px rgba(255, 255, 200, 0.5);
  background-color: #638600; }
  .edit-btn:hover {
    text-decoration: none;
    color: white; }

.delete-btn {
  border-radius: 3px;
  border: none;
  padding: 1em 2em;
  margin: 0 auto;
  color: white;
  font-weight: 700;
  box-shadow: 0 0 4px rgba(255, 255, 200, 0.5);
  padding: .85em 1.85em;
  background-color: #9c0000; }
  .delete-btn:hover {
    text-decoration: none;
    color: white; }

.save-btn {
  border-radius: 3px;
  border: none;
  padding: 1em 2em;
  margin: 0 auto;
  color: white;
  font-weight: 700;
  box-shadow: 0 0 4px rgba(255, 255, 200, 0.5);
  margin-top: .5em;
  padding: .2em 4em;
  font-weight: 400;
  background-color: rgba(2, 177, 2, 0.507); }
  .save-btn:hover {
    text-decoration: none;
    color: white; }

.cancel-btn {
  border-radius: 3px;
  border: none;
  padding: 1em 2em;
  margin: 0 auto;
  color: white;
  font-weight: 700;
  box-shadow: 0 0 4px rgba(255, 255, 200, 0.5);
  margin-top: .5em;
  padding: .2em 4em;
  font-weight: 400;
  background-color: #9c0000; }
  .cancel-btn:hover {
    text-decoration: none;
    color: white; }

@-webkit-keyframes fade {
  from {
    opacity: 0; }
  to {
    opacity: .8; } }

@keyframes fade {
  from {
    opacity: 0; }
  to {
    opacity: .8; } }

/*# sourceMappingURL=style.css.map */