
<div class="container">
  <div id="eventDetailsContainer">
    

    <button id="eventIdFinal" value="{{eventId}}"></button>
  </div>

  <div id="eventMap"></div>

</div>



<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<script src="/javascripts/ticketmaster-api/api-handler.js"></script>
<script src="/javascripts/ticketmaster-api/event-details.js"></script>
<script src="/javascripts/ticketmaster-api/event-map.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key={{mapsKey}}&callback=initApp"></script>